tmp_uploaded.yaml
venv/
ollama.log
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
*.egg-info/
*.egg
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar

.vscode/launch.json
logs/
sessions/
tmp/

    
